<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
  	<center><h1>Sample App</h1>
		<p>This is the home page..</p>
		<img src="https://image.freepik.com/free-vector/cartoon-boy-reading-book-with-pile-books-forming-house_29190-4573.jpg" width="250" height="300">
	</center>
 </body>
</html>
